name: Reddit Scraper & Hoard Tester

on:
  schedule:
    - cron: "30 6 * * *"
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python with cache
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Scraper
        run: python beta.py

      - name: Run Telegram Uploader
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH}}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: python tg.py

      - name: Zip Downloads
        run: zip -r downloads.zip downloads

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          FILE_LIST=$(ls downloads | sed 's/^/- /')
          gh release create "dump-$(date +'%Y%m%d-%H%M%S')" downloads.zip \
            --title "Reddit Media Test Dump" \
            --notes "$FILE_LIST"
